.container {
    margin: auto;
    height: 60px;
    background-color: #7F2733;
}

.toolbar {
    max-width: 70%;
    margin: auto;
}

.menu-button {
    position: relative;
    top: 10px;
    color: white;
    background-color: #7F2733;
}